@font-face {
    font-family: 'Azeret Mono';
    src: url('azeret-mono-variable.ttf') format('truetype');
    font-weight: 1 999;
}

body {
    font-family: 'Azeret Mono', monospace;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('background.webp');
}

.content {
    width: 50rem;
    margin: auto;
    padding: 0.5rem;
    /*background-color: blue;*/
}

.content > div {
    margin-bottom: 2rem;
    /*background-color: red;*/
}

#name {
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;
}

#description {
    font-size: 1.7rem;
    line-height: 1.7rem;
}

.outlink {
    display: flex;
    flex-wrap: wrap;
}

.outlink a {
    color: black;
    background-color: #ddd;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    border: 0.14rem solid black;
    border-radius: 0.3rem;
    background-repeat: no-repeat;
    margin: 0.6rem 0.6rem 0 0;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    box-shadow: inset 0.1rem 0.1rem 0.17rem white, inset -0.1rem -0.1rem 0.15rem #444;
}

.outlink a:active {
    background-color: #676767;
    color: #e6e6e6;
    box-shadow: inset 0.1rem 0.1rem 0.17rem black, inset -0.1rem -0.1rem 0.15rem white;
}

#resume {
    background-image: url('resume.svg');
    background-size: 25%;
    background-position: 0.3rem 0.2rem;
    padding-left: 2.7rem;
}

#email {
    background-image: url('email.svg');
    background-size: 18%;
    background-position: 0.5rem 0.3rem;
    padding-left: 3rem;
}

#linkedin {
    background-image: url('linkedin.svg');
    background-size: 19%;
    background-position: 0.5rem 0.3rem;
    padding-left: 2.9rem;
}