@font-face {
    font-family: 'Azeret Mono';
    src: url('azeret-mono-variable.ttf') format('truetype');
    font-weight: 1 999;
}

body {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-image: url('background.webp');
    font-family: 'Azeret Mono', monospace;
}

.content {
    width: 50rem;
    margin: auto;
    padding: 0.5rem;
}

.content > div {
    margin-bottom: 2rem;
}

.outlink {
    display: flex;
    flex-wrap: wrap;
}

.outlink a {
    color: black;
    background: #ddd no-repeat;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    border: 0.14rem solid black;
    border-radius: 0.3rem;
    margin: 0.6rem 0.6rem 0 0;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    box-shadow: inset 0.1rem 0.1rem 0.25rem #fff, inset -0.1rem -0.1rem 0.2rem #333;
    -webkit-tap-highlight-color: transparent; 
}

.outlink a:active {
    background-color: #676767;
    color: #e6e6e6;
    box-shadow: inset 0.1rem 0.1rem 0.25rem #222, inset -0.1rem -0.1rem 0.2rem #ccc;
}

#name {
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;
}

#description {
    font-size: 1.7rem;
    line-height: 1.7rem;
}

#linkedin {
    background-image: url('linkedin.svg');
    background-size: 18%;
    background-position: 0.7rem 0.3rem;
    padding-left: 2.9rem;
}

#resume {
    background-image: url('resume.svg');
    background-size: 24%;
    background-position: 0.5rem 0.2rem;
    padding-left: 2.7rem;
}

#email {
    background-image: url('email.svg');
    background-size: 17%;
    background-position: 0.7rem 0.3rem;
    padding-left: 3rem;
}


/* -- Printing Optimisations ---------------- */

@media print {

    body {
        background: #fff;
        color: #000;
    }

    .content,
    .content > div {
        margin: 0;
    }

    .outlink a {
        border: none;
        box-shadow: none;
    }

    #name {
        font-size: 21px;
        line-height: 40px;
    }

    #description {
        font-size: 19px;
        line-height: 40px;
    }
}